# any folder starting with underscore
_*/

# directories
app/cf_scripts
app/v1/import
*/WEB-INF/
app/api/WEB-INF/
.vscode/

# extensions
*.bak
*.code-workspace
*.cflintrc
*.log
*.tmp

# files
config.json*.cfm
DEV_NOTES.txt
docker-compose.yml.*
web.config
app/sftp.json
app/version.txt
app/api/config.json.cfm
app/server.json